.App {
  background-color: #292929;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message {
  min-width: 120px;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  margin: 1rem;
  background: #FFF;
  border-radius: 1.125rem;
  border-top-left-radius: 0;
  min-height: 2.25rem;
  width: fit-content;
  max-width: 66%;
  position: relative;
}

.message.my-message {
  background-color: #61dafb;
  margin-left: auto;
  border-top-left-radius: 1.125rem;
  border-bottom-right-radius: 0;
}

.message .message-author, .message .message-date {
  display: block;
}

.message .message-author {
  font-size: 12px;
  font-weight: bold;
}

.message .message-date {
  font-size: 10px;
  text-align: end;
}

.message .message-content {
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 2px;
}
